In [54]:
import pandas as pd

class HeatLossDataFrame:
    def __init__(self):
        # Создаем пустой список для хранения записей
        self.records = []
        
        # Определяем структуру DataFrame
        self.columns = [
            'квартира', 
            'номер помещения', 
            'теплопотери', 
            'прибор отопления №1', 
            'прибор отопления №1_Вт', 
            'прибор отопления №2', 
            'прибор отопления №2_Вт', 
            'прибор отопления №3', 
            'прибор отопления №3_Вт', 
            'сумма_Вт',
            'result',
            'spare',
        ]
        
        # Создаем пустой DataFrame
        self.df = pd.DataFrame(columns=self.columns)
    
    def add_record(self, 
                  apartment: int, 
                  room_number: int, 
                  heat_loss: int, 
                  heater1: str, 
                  heater1_w: int, 
                  heater2: str=None, 
                  heater2_w: int=0,
                  heater3: str=None, 
                  heater3_w: int=0,
                  ):
        """
        Добавляет новую запись в список
        """
        # Вычисляем сумму мощностей
        total_w = heater1_w + heater2_w + heater3_w
        
        # Создаем новую запись
        new_record = {
            'квартира': apartment,
            'номер помещения': room_number,
            'теплопотери': heat_loss,
            'прибор отопления №1': heater1,
            'прибор отопления №1_Вт': heater1_w,
            'прибор отопления №2': heater2,
            'прибор отопления №2_Вт': heater2_w,
            'прибор отопления №3': heater3,
            'прибор отопления №3_Вт': heater3_w,
            'сумма_Вт': total_w,
            'result': (heater1_w + heater2_w + heater3_w) > heat_loss,
            'spare': (heater1_w + heater2_w + heater3_w) - heat_loss,
        }
        
        # Добавляем запись в список
        self.records.append(new_record)
        
        # Обновляем DataFrame
        self.df = pd.DataFrame(self.records, columns=self.columns)
    
    def get_dataframe(self):
        """Возвращает текущий DataFrame"""
        return self.df
    
    def save_to_csv(self, filename: str):
        """Сохраняет DataFrame в CSV файл"""
        self.df.to_csv(filename, index=False, encoding='utf-8')

In [55]:
heat_df = HeatLossDataFrame()

In [56]:
heat_df.add_record(
    apartment=1,
    room_number=4,
    heat_loss=900*1.1,
    heater1="20-500-1300",
    heater1_w=1160,
)
heat_df.add_record(
    apartment=1,
    room_number=5,
    heat_loss=750*1.1,
    heater1="22-500-600",
    heater1_w=877,
)

heat_df.add_record(
    apartment=2,
    room_number=2,
    heat_loss=833*1.1,
    heater1="22-500-600",
    heater1_w=877
)

heat_df.add_record(
    apartment=2,
    room_number=4,
    heat_loss=931*1.1,
    heater1="20-500-1300",
    heater1_w=1160
)
heat_df.add_record(
    apartment=3,
    room_number=4,
    heat_loss=819*1.1,
    heater1="20-500-1300",
    heater1_w=1160
)

heat_df.add_record(
    apartment=3,
    room_number=5,
    heat_loss=1733*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="20-500-1300",
    heater2_w=1160,
)
heat_df.add_record(
    apartment=4,
    room_number=5,
    heat_loss=1750*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="20-500-1300",
    heater2_w=1160,
)
heat_df.add_record(
    apartment=4,
    room_number=4,
    heat_loss=913*1.1,
    heater1="20-500-1300",
    heater1_w=1160
)

heat_df.add_record(
    apartment=5,
    room_number=4,
    heat_loss=1609*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="22-300-1000",
    heater2_w=1477*0.646,
)
heat_df.add_record(
    apartment=6,
    room_number=4,
    heat_loss=1609*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="22-300-1000",
    heater2_w=1477*0.646,
)
heat_df.add_record(
    apartment=7,
    room_number=4,
    heat_loss=1609*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="22-300-1000",
    heater2_w=1477*0.646,
)
heat_df.add_record(
    apartment=8,
    room_number=4,
    heat_loss=1609*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="22-300-1000",
    heater2_w=1477*0.646,
)
heat_df.add_record(
    apartment=9,
    room_number=4,
    heat_loss=1546*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="22-300-1000",
    heater2_w=1477*0.646,
)
heat_df.add_record(
    apartment=10,
    room_number=4,
    heat_loss=1597*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="22-300-1000",
    heater2_w=1477*0.646,
)
heat_df.add_record(
    apartment=11,
    room_number=7,
    heat_loss=1659*1.1,
    heater1="22-500-600",
    heater1_w=877,
    heater2="20-300-1100",
    heater2_w=666,
    heater3="20-300-1100",
    heater3_w=666,
)
heat_df.add_record(
    apartment=11,
    room_number=6,
    heat_loss=800*1.1,
    heater1="22-300-1000",
    heater1_w=1477*0.646,

)
heat_df.add_record(
    apartment=11,
    room_number=5,
    heat_loss=800*1.1,
    heater1="22-300-1000",
    heater1_w=1477*0.646,

)

In [57]:
heat_df.get_dataframe()

,квартира,номер помещения,теплопотери,прибор отопления №1,прибор отопления №1_Вт,прибор отопления №2,прибор отопления №2_Вт,прибор отопления №3,прибор отопления №3_Вт,сумма_Вт,result,spare
0,1,4,990.0,20-500-1300,1160.000,None,0.000,None,0,1160.000,True,170.000
1,1,5,825.0,22-500-600,877.000,None,0.000,None,0,877.000,True,52.000
2,2,2,916.3,22-500-600,877.000,None,0.000,None,0,877.000,False,-39.300
3,2,4,1024.1,20-500-1300,1160.000,None,0.000,None,0,1160.000,True,135.900
4,3,4,900.9,20-500-1300,1160.000,None,0.000,None,0,1160.000,True,259.100
5,3,5,1906.3,22-500-600,877.000,20-500-1300,1160.000,None,0,2037.000,True,130.700
6,4,5,1925.0,22-500-600,877.000,20-500-1300,1160.000,None,0,2037.000,True,112.000
7,4,4,1004.3,20-500-1300,1160.000,None,0.000,None,0,1160.000,True,155.700
8,5,4,1769.9,22-500-600,877.000,22-300-1000,954.142,None,0,1831.142,True,61.242
9,6,4,1769.9,22-500-600,877.000,22-300-1000,954.142,None,0,1831.142,True,61.242
10,7,4,1769.9,22-500-600,877.000,22-300-1000,954.142,None,0,1831.142,True,61.242
11,8,4,1769.9,22-500-600,877.000,22-300-1000,954.142,None,0,1831.142,True,61.242
12,9,4,1700.6,22-500-600,877.000,22-300-1000,954.142,None,0,1831.142,True,130.542
13,10,4,1756.7,22-500-600,877.000,22-300-1000,954.142,None,0,1831.142,True,74.442
14,11,7,1824.9,22-500-600,877.000,20-300-1100,666.000,20-300-1100,666,2209.000,True,384.100
15,11,6,880.0,22-300-1000,954.142,None,0.000,None,0,954.142,True,74.142
16,11,5,880.0,22-300-1000,954.142,None,0.000,None,0,954.142,True,74.142

In [58]:
df = heat_df.get_dataframe()

In [59]:
heat_li = []

for i in df["прибор отопления №1"].unique().tolist():
    heat_li.append(i)
for i in df["прибор отопления №2"].unique().tolist():
    heat_li.append(i)
for i in df["прибор отопления №3"].unique().tolist():
    heat_li.append(i)

result = set(heat_li)

print(result)

{None, '20-500-1300', '20-300-1100', '22-300-1000', '22-500-600'}

In [60]:
print(f"Сумма преувеличения теплоотдачи приборами на этаж всего = {sum(df['spare']):.0f} Вт")

Сумма преувеличения теплоотдачи приборами на этаж всего = 1958 Вт

In [61]:

df.loc[df['квартира'] == 1]
df.loc[df['квартира'] == 1]["сумма_Вт"]
sum(df.loc[df['квартира'] == 1]["сумма_Вт"])

2037.0